{{ define "main" }}

<section class="hero">
    <h1>{{ .Site.Title }}</h1>

    <p>
        Functional programming talks at Chalmers University of Technology
        and the University of Gothenburg.
    </p>
    <a href="/calendar.ics">Subscribe to calendar</a>
</section>

{{ $today := now.Format "2006-01-02" }}

{{ $upcoming := slice }}
{{ $recent := slice }}

{{/* Make two lists, for talks in the future and the past. */}}
{{ range .Site.RegularPages.ByDate }}
    {{ $talkDate := .Date.Format "2006-01-02" }}

    {{ if ge $talkDate $today }}
        {{ $upcoming = $upcoming | append . }}
    {{ else }}
        {{ $recent = $recent | append . }}
    {{ end }}
{{ end }}

{{/* If there are future talks, show the section with all future talks in it. */}}
{{ with $upcoming }}
<section class="upcoming">
    <h2>Upcoming Talks</h2>

    {{ range . }}
    {{ partial "talk-row.html" . }}
    {{ end }}
</section>
{{ end }}

{{/* If there are past talks, show the three recent ones. */}}
{{ with first 3 $recent.Reverse }}
<section class="recent">
    <h2>Recent Talks</h2>

    {{ range . }}
    {{ partial "talk-row.html" . }}
    {{ end }}

    <article class="talk-row">
      <time></time>
      <div>
        <h3>
          <a href="/archive/">See all past talks</a>
        </h3>
      </div>
    </article>
</section>
{{ end }}

{{ end }}